article {
    /*padding: 0 10px 0 0;*/
    width: 100%;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(135,135,135,0.18);
    -moz-box-shadow: 0 2px 5px 0 rgba(135,135,135,0.18);
    box-shadow: 0 2px 5px 0 rgba(135,135,135,0.18);
    overflow: auto;
}

article .article-image img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
}

article .article-content {
    padding: 0 15px;
}

article .article-content h4 {
    color: #ff5483;
    margin-bottom: 5px;
}

article .article-content p {
    font-size: 14px;
}
