aside {
    padding: 15px 10px 10px;
    background: #fff;
    -webkit-box-shadow: 0 2px 5px 0 rgba(135,135,135,0.18);
    -moz-box-shadow: 0 2px 5px 0 rgba(135,135,135,0.18);
    box-shadow: 0 2px 5px 0 rgba(135,135,135,0.18);
    position: sticky; top: 10px;
}

.avatar {
    width: 70px;
    border-radius: 50%;
}
